
.image-grid{
  display: grid;
}


.image-full{
  grid-template-columns: 1fr;
}




.image-pair{
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

@media screen and (max-width: 760px) {
  .image-pair{
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}



