.Header-span{
  font-family: var(--font-heading);
  color: var(--color-dark-grey);
  font-weight: var(--font-weight-black);
}

.section-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

@media screen and (max-width: 960px){
  .section-content{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }


}