.content-block{
  margin-bottom: 1.5rem;
}

.empty-block{
  display: block;
}



.img-main{
  height: 600px;
  max-height: 600px;
  display: flex;
}

.img-main img{
  object-fit: cover;
}


@media screen and (max-width: 960px) {
  .img-main{
    height: auto;
    max-height: 600px;
  }

}
