.footer{
  background-color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Footer-nav{ 
  color: var(--color-white);
  padding: 2.5rem;
  width: 100%;
  max-width: 1440px;
}

.Footer-nav p{
  font-size: 24px;
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
}