@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
  font-family: 'Satoshi';
  src: url('./assets/Satoshi-Variable.woff2') format('woff2');
  font-weight: 100 900; /* This range will allow flexibility for all weights */
  font-style: normal;
}



:root {
  --font-primary: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-heading: 'Satoshi', sans-serif;
  --font-weight-black: 900;
  --font-weight-medium: 520;
  --font-weight-regular: 400;

  /* Base font size */
  --font-size-base: 1.125rem;
  --font-size-big: 1.5rem;
  --font-size-sub: 1.8rem;
  --font-size-small: 0.875rem;

  /* Headings */
  --font-size-h1: 6.5rem;   /* 120px */
  --font-size-h2: 3.5rem;   /* 56px */
  --font-size-h3: 2.916rem; /* 46.67px (following the 1.2 ratio) */
  --font-size-h4: 2.43rem;  /* 38.88px (1.2 * 32.4px) */
  --font-size-h5: 2.02rem;  /* 32.4px */
  --font-size-h6: 1.2rem;  /* 26.67px */

  /* Colors */
  --color-black: #1E1E1E;
  --color-white: #FFFFFF;
  --color-background: #FBF5EF;
  --color-highlight: #EB6342;
  --color-dark-grey: #767676;
  --color-light-grey: #F7F7F7;
  --color-btn-border: #E7E5E2;
  --color-btn-dark-border: #ACACAC;
  --color-divider: #BEBEBE;

  /* background-color: var(--color-background); */

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

html, body {
  height: 100%;
  font-family: var(--font-primary);
  line-height: 1.5;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: var(--color-black);
  background-color: var(--color-background); 
}

section{
  margin-bottom: 7.5rem;
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-black);
  line-height: 1.2;
  margin-bottom: .5rem;
}

h1{
  font-size: var(--font-size-h1);
  margin-bottom: 2rem;
}

h2{
  font-size: var(--font-size-h2);
}

h3{
  font-size: var(--font-size-h3);
}

h4{
  font-size: var(--font-size-h4);
}

h5{
  font-size: var(--font-size-h5);
}

h6{
  font-size: var(--font-size-h6);
  font-weight: var(--font-weight-medium);
  color: var(--color-btn-dark-border);
  margin-bottom: 1.5rem;
  /* text-transform: uppercase; */
}


p, li, span, div, a {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
}

ul{
  display: flex;
  align-items: center;
}

li{
  list-style: none;
  display: block;
}



.container{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1.5rem 2.5rem;
}

.hero{
  margin: 3rem 0;
  padding-bottom: 3rem;
}



.Header-sub{
  font-size: var(--font-size-sub);
  max-width: 50ch;
  margin-bottom: 2rem;
}

.section-border{
  border-top: 1px solid var(--color-divider);
  border-bottom: 1px solid var(--color-divider);
  padding: 7.5rem 0;
}