/* Thumb global styling */


.tag-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

.project-thumbnail{
  margin-bottom: 1.5rem;
}

.project-thumbnail__image{
  max-width: 100%;
}

.project-thumbnail__description{
  margin-bottom: 1.5rem;
}

.project-thumbnail__buttons{
  display: flex;
  gap: .5rem;
}

/* Featured thumbnail styling */

.project-thumbnail.featured{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.project-thumbnail.featured{
  flex-direction: column;
}


.project-thumbnail.featured .project-thumbnail__image{
  width: 100%;
}


.project-thumbnail.featured .project-thumbnail__content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

}

/* -------------- */

/* Other thumbs */

.project-thumbnail{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.title-wrapper{
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 960px){
  .project-thumbnail{
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
    margin-bottom: 4rem;
  }

  .project-thumbnail.featured .project-thumbnail__content{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  
  }

  .project-thumbnail.featured{
    gap: 1rem;
  }

}

@media screen and (max-width: 460px){
  .project-thumbnail__buttons{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
  }

}


